In [3]:
# loadind the data into dataset
import pandas as pd
filepath='deliveries.csv'
data_set=pd.read_csv(filepath)
columns=data_set.columns

In [83]:
# total teams played till now
teams=data_set["batting_team"].unique()
print(teams)

['Kolkata Knight Riders' 'Royal Challengers Bengaluru'
 'Chennai Super Kings' 'Punjab Kings' 'Rajasthan Royals' 'Delhi Capitals'
 'Mumbai Indians' 'Sunrisers Hyderabad' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Lucknow Super Giants' 'Gujarat Titans']

to see the information about the dataset and the null values

In [25]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [111]:
data_set.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [8]:
#total batsmen and bowlers along with their names
batsmen=data_set['batter'].unique()
bowlers=data_set["bowler"].unique()

total no of batsmen played and bowlers played in the tournament

In [16]:
total_batsmen_played=batsmen.size
total_bowlers_played=bowlers.size

function to find the total number of runs scored by a batsman

In [27]:
def total_run(name): 
    new=data_set.loc[data_set['batter']==name]
    score=new["batsman_runs"].sum()
    return score

totals runs and wickets taken by a player:

In [ ]:

def total_run(name): 
    player_record=data_set.loc[data_set['batter']==name]
    score=player_record["batsman_runs"].sum()
    return score

def total_wickets(name):
    player_record=data_set.loc[data_set["bowler"]==name]
    wickets=player_record["is_wicket"].sum()
    return wickets

In [193]:
# total teams played till now
teams=data_set["batting_team"].unique()

we encounter some problems because after years 
many teams have changed their names 
let say rcb changes bengalurur to banglore 
kings XI punjab to punjab kindgs 
we need to handle that

In [70]:
data_set.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru',inplace=True)
data_set.replace('Kings XI Punjab','Punjab Kings',inplace=True)
data_set.replace('Deccan Chargers','Sunrisers Hyderabad',inplace=True)
data_set.replace('Delhi Daredevils','Delhi Capitals',inplace=True)

In [101]:
# to findout the players played for a specific team

In [175]:
def players_of_team(team_name):
    batters=data_set[data_set["batting_team"] == team_name]["batter"]
    non_striker=data_set[data_set["batting_team"] == team_name]["non_striker"]
    bowler=data_set[data_set["bowling_team"] == team_name]["bowler"]
    total_team_record=pd.concat([batters,bowler,non_striker])
    team_players=total_team_record.unique()
    bowlers=bowler.unique()
    batsmen=pd.concat([batters,non_striker]).unique()
    return team_players

In [180]:
# player played for team

In [184]:
def player_played_for(player):
    batters=data_set[data_set["batter"] == player]["batting_team"]
    non_striker=data_set[data_set["non_striker"] == player]["batting_team"]
    bowler=data_set[data_set["bowler"] == player]["bowling_team"]
    all_teams=pd.concat([batters,bowler,non_striker])
    all_teams=all_teams.unique()
    return all_teams

In [198]:
matches=pd.read_csv("matches.csv")
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [200]:
full_data=pd.merge(data_set,matches[["id","season"]],left_on="match_id",right_on="id")

In [202]:
full_data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,id,season
0,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,335982,2007/08
1,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,335982,2007/08
2,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN,335982,2007/08
3,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,335982,2007/08
4,335982,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN,335982,2007/08

In [212]:
dismissals=data_set["dismissal_kind"].unique()

In [214]:
print(dismissals)

[nan 'caught' 'bowled' 'run out' 'lbw' 'retired hurt' 'stumped'
 'caught and bowled' 'hit wicket' 'obstructing the field' 'retired out']

In [257]:
def get_top_run_scorers(data_set):
    top_scorers = data_set.groupby('batter',)['batsman_runs'].sum()
    print(top_scorers.sort_values(ascending=False).head(10))

In [259]:
get_top_run_scorers(data_set)

batter
V Kohli           8014
S Dhawan          6769
RG Sharma         6630
DA Warner         6567
SK Raina          5536
MS Dhoni          5243
AB de Villiers    5181
CH Gayle          4997
RV Uthappa        4954
KD Karthik        4843
Name: batsman_runs, dtype: int64

In [261]:
def get_top_wicket_takers(df):
    bowler_wickets = ['caught', 'bowled', 'lbw', 'stumped', 'caught and bowled', 'hit wicket']
    wickets_df = df[df['dismissal_kind'].isin(bowler_wickets)]
    top_bowlers = wickets_df.groupby('bowler').size()
    print(top_bowlers.sort_values(ascending=False).head(10))

In [263]:
get_top_wicket_takers(data_set)

bowler
YS Chahal     205
PP Chawla     192
DJ Bravo      183
B Kumar       181
SP Narine     180
R Ashwin      180
A Mishra      174
SL Malinga    170
JJ Bumrah     168
RA Jadeja     160
dtype: int64

In [267]:
def analyze_toss_impact(df):
    toss_win_match_win = df[df['toss_winner'] == df['winner']]
    percentage = (len(toss_win_match_win) / len(df)) * 100
    print(f"Percentage of matches won by the team that won the toss: {percentage:.2f}%")
    decision_impact = toss_win_match_win['toss_decision'].value_counts()
    print(decision_impact)

In [271]:
analyze_toss_impact(matches)

Percentage of matches won by the team that won the toss: 50.59%
toss_decision
field    377
bat      177
Name: count, dtype: int64

In [277]:
def analyze_death_overs(df):
    death_overs_df = df[df['over'] >= 16]
    batsman_stats = death_overs_df.groupby('batter').agg(
        runs_scored=('batsman_runs', 'sum'),
        balls_faced=('ball', 'count')
    )
    # Filter for batsmen who have faced at least 100 balls in the death overs.
    batsman_stats = batsman_stats[batsman_stats['balls_faced'] >= 100]
    batsman_stats['strike_rate'] = (batsman_stats['runs_scored'] / batsman_stats['balls_faced']) * 100
    print("Top 5 Death Over Batsmen (min. 100 balls):")
    print(batsman_stats.sort_values(by='runs_scored', ascending=False).head(5))

    # Top 5 Death Over Bowlers (by Economy Rate)
    print("\nTop 5 Death Over Bowlers (min. 100 balls):")
    bowler_stats = death_overs_df.groupby('bowler').agg(
        runs_conceded=('total_runs', 'sum'),
        balls_bowled=('ball', 'count')
    )
    # Filter for bowlers who have bowled at least 100 balls.
    bowler_stats = bowler_stats[bowler_stats['balls_bowled'] >= 100]
    bowler_stats['economy_rate'] = bowler_stats['runs_conceded'] / (bowler_stats['balls_bowled'] / 6)
    print(bowler_stats.sort_values(by='economy_rate', ascending=True).head(5))
    print("-" * 60 + "\n")

In [279]:
analyze_death_overs(data_set)

Top 5 Death Over Batsmen (min. 100 balls):
                runs_scored  balls_faced  strike_rate
batter
MS Dhoni               2786         1556   179.048843
KA Pollard             1708          994   171.830986
KD Karthik             1565          881   177.639047
AB de Villiers         1421          635   223.779528
RA Jadeja              1420          931   152.524168

Top 5 Death Over Bowlers (min. 100 balls):
              runs_conceded  balls_bowled  economy_rate
bowler
DE Bollinger            268           216      7.444444
Rashid Khan             408           315      7.771429
SL Malinga             1252           965      7.784456
A Kumble                148           112      7.928571
SP Narine              1003           755      7.970861
------------------------------------------------------------